{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}


{% block body %}
<div id="calendrier" style="width: 80%; margin: auto">
</div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {

            let calendarElt = document.querySelector("#calendrier")

            let calendar = new Full
        }
    </script>
{% endblock %}