Bonjour {{ contact.name }},<br/><br/>

{{ message }}

 
<a href="{{path('default')}}" style="display: inline-block; padding: 11px 30px; margin: 10px 0px 20px; font-size: 15px; color: #fff; background: #69bff8b4; border-radius: 60px; text-decoration:none;">
Mon tableau de bord</a>

<br/><br/>
En cas de difficultés vous pouvez nous contacter par télephone à ce numéro :<br/>07 83 97 22 28 <br/>

L'équipe Unlock technologies<br/>