Bonjour {{ user.firstname }} {{ user.lastname }},<br/>
<u>Pour accéder à votre tableau de bord, veuillez cliquer sur le lien ci-dessous :</u>
<br/><br/>

{{ message }}

 <br/><br/>
<a href="http://127.0.0.1:8000/" style="display: inline-block; padding: 11px 30px; margin: 10px 0px 20px; font-size: 15px; color: #fff; background: #69bff8b4; border-radius: 60px; text-decoration:none;">
Mon tableau de bord</a>

<br/><br/>
En cas de difficultés vous pouvez nous contacter par mail à l'adresse suivante :<b>info@unlock-technologie.com</b> <br/>

L'équipe Unlock technologies<br/>