{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}

    
  

   

    <div class="container">
        {{ include('contact/_form.html.twig') }}
    </div>

   
{% endblock %}
