<!DOCTYPE html>
<html>


	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="School">
		<meta name="author" content="TODO: A REMPLIR">
		<meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{% include 'components/stylesheets.html.twig' %}
		{% endblock %}

	</head>

	<body class="app sidebar-mini ltr light-mode">

		{% block switcher %}
				{% include 'components/switcher.html.twig' %}
			{% endblock %}

		{# GLOBAL-LOADER #}
		<div id="global-loader">
			<img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
		</div>
		{# /GLOBAL-LOADER #}
		<div class="page">
			<div class="page-main">

			{% block header %}
				{% embed 'components/header.html.twig' %}
					{% block error %}
						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div id="errorMessage" class="d-flex justify-content-end">
									<div class="alert alert-{{ label }} text-center">
										{{ message }}
									</div>
								</div>
							{% endfor %}
						{% endfor %}
					{% endblock %}
				{% endembed %}
			{% endblock %}

			{% block sidebar %}
				{% include 'components/sidebar.html.twig' %}
			{% endblock %}

			{% block body %}{% endblock %}
			</div> {# /page-main #}

			{% block footer %}
				{% include 'components/footer.html.twig' %}
			{% endblock %}
		</div> {# /page #}
	</body>
	
	{% block javascripts %}
		{% include 'components/javascripts.html.twig' %}
	{% endblock %}

{% block javascripts_option %}
{% endblock %}

</html>
