<div class="switcher-wrapper">
    <div class="demo_changer">
        <div class="form_holder sidebar-right1">
            <div class="row">
                <div class="predefined_styles">

                    <div class="swichermainleft">
                        <h4>Barre de navigation</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">Menu vertical</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch15"
                                            id="myonoffswitch34" class="onoffswitch2-checkbox" checked>
                                        <label for="myonoffswitch34" class="onoffswitch2-label"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">Menu horizontal</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch15"
                                            id="myonoffswitch35" class="onoffswitch2-checkbox">
                                        <label for="myonoffswitch35" class="onoffswitch2-label"></label>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="swichermainleft">
                        <h4>Mode jour</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex">
                                    <span class="me-auto">Mode jour</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch1" id="myonoffswitch1"
                                            class="onoffswitch2-checkbox" checked>
                                        <label for="myonoffswitch1" class="onoffswitch2-label"></label>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>Mode nuit</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle d-flex mt-2">
                                    <span class="me-auto">Mode nuit</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch1" id="myonoffswitch2"
                                            class="onoffswitch2-checkbox">
                                        <label for="myonoffswitch2" class="onoffswitch2-label"></label>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="swichermainleft">
                        <h4>Style du menu de gauche</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle lightMenu d-flex">
                                    <span class="me-auto">Mode jour</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch2" id="myonoffswitch3"
                                            class="onoffswitch2-checkbox" checked>
                                        <label for="myonoffswitch3" class="onoffswitch2-label"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle colorMenu d-flex mt-2">
                                    <span class="me-auto">Mode couleur</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch2" id="myonoffswitch4"
                                            class="onoffswitch2-checkbox">
                                        <label for="myonoffswitch4" class="onoffswitch2-label"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle darkMenu d-flex mt-2">
                                    <span class="me-auto">Mode nuit</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch2" id="myonoffswitch5"
                                            class="onoffswitch2-checkbox">
                                        <label for="myonoffswitch5" class="onoffswitch2-label"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle gradientMenu d-flex mt-2">
                                    <span class="me-auto">Mode dégradé</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch2" id="myonoffswitch19"
                                            class="onoffswitch2-checkbox">
                                        <label for="myonoffswitch19" class="onoffswitch2-label"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4>Style barre de navigation</h4>
                        <div class="skin-body">
                            <div class="switch_section">
                                <div class="switch-toggle lightHeader d-flex">
                                    <span class="me-auto">Mode jour</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch6"
                                            class="onoffswitch2-checkbox" checked>
                                        <label for="myonoffswitch6" class="onoffswitch2-label"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle  colorHeader d-flex mt-2">
                                    <span class="me-auto">Mode couleur</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch7"
                                            class="onoffswitch2-checkbox">
                                        <label for="myonoffswitch7" class="onoffswitch2-label"></label>
                                    </p>
                                </div>
                                <div class="switch-toggle darkHeader d-flex mt-2">
                                    <span class="me-auto">Mode nuit</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch8"
                                            class="onoffswitch2-checkbox">
                                        <label for="myonoffswitch8" class="onoffswitch2-label"></label>
                                    </p>
                                </div>

                                <div class="switch-toggle darkHeader d-flex mt-2">
                                    <span class="me-auto">Mode dégradé</span>
                                    <p class="onoffswitch2"><input type="radio" name="onoffswitch3" id="myonoffswitch20"
                                            class="onoffswitch2-checkbox">
                                        <label for="myonoffswitch20" class="onoffswitch2-label"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="swichermainleft">
                        <h4>Reinitialisé le style</h4>
                        <div class="skin-body">
                            <div class="switch_section my-4">
                                <button class="btn btn-danger btn-block" onclick="localStorage.clear();
										document.querySelector('html').style = '';
										names() ;
                                        resetData() ;" type="button">Réinitialiser
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swichermainleft hor-content">
                        <a>Fermer</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>