{% block addCourses %}
<div class="container-login100">
	<div class="wrap-login100 p-6 row">
		<span class="login100-form-title">
			Ajouter un cours
		</span>
		{# <div class="col">
			{% for message in app.flashes('contact_success') %}
			<div class="col-md-12 alert alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endfor %}
		</div> #}
		{{ form(formCourse) }}

	</div>
</div>

{% endblock %}